// size
$size-2xs: 0.25rem; //   4 px
$size-xs: 0.5rem; //     8 px
$size-s: 0.75rem; //    12 px
$size-m: 1rem; //       16 px
$size-l: 1.25rem; //    20 px
$size-xl: 1.5rem; //    24 px
$size-2xl: 1.75rem; //  28 px
$size-3xl: 2rem; //     32 px
$size-4xl: 2.25rem; //  36 px
$size-5xl: 2.5rem; //   40 px

// page width
$web-mobile-page-width-threshold: 1000px;
$web-page-width: 1250px;

// z-index
$image-slider-z-index: 1;
$header-z-index: 2;
