.font-size-xs {
  font-size: $size-xs;
}

.font-size-s {
  font-size: $size-s;
}

.font-size-m {
  font-size: $size-m;
}

.font-size-l {
  font-size: $size-l;
}

.font-size-xl {
  font-size: $size-xl;
}

.font-size-2xl {
  font-size: $size-2xl;
}

.font-size-3xl {
  font-size: $size-3xl;
}

.font-size-4xl {
  font-size: $size-4xl;
}

.font-size-5xl {
  font-size: $size-5xl;
}